<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
        <%= link_to 'KEM Foundation', root_path, class:'navbar-brand' %>
        </div>
        <div id="fh5co-navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if current_page?(root_path) %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <%= link_to root_path do %><span>
                home
                <span class="border"></span></span>
              <% end %>
            </li>
            <% if signed_in? %>
                <li><%= link_to destroy_user_session_path, :method => :delete do %><span>
                  Logout
                  <span class="border"></span></span>
                </li>
              <% end %>
            <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <span>Log In <span class="border"></span></span>
              <% end %>
              </li>
              <li><%= link_to new_user_registration_path do %><span>
                Sign Up
                <span class="border"></span></span>
              </li>
              <% end %>
            <% end %>
            <li><a href="left-sidebar.html"><span>Left Sidebar <span class="border"></span></span></a></li>
            <% if current_page?(about_path) %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <%= link_to about_path do %><span>
                About Us
                <span class="border"></span></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- END .header -->
