<!DOCTYPE html>
<html>
<head>
  <title>KEM Foundation Inc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body>
  <%= render 'shared/header' %>
  <%= render 'shared/slider' %>
  <div id="fh5co-main">
<%= yield %>
</div>
  	<footer id="fh5co-footer">

  		<div class="container">
  			<div class="row">
  				<div class="col-md-6 col-sm-6">
  					<div class="fh5co-footer-widget">
  						<h2 class="fh5co-footer-logo">Booster</h2>
  						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
  					</div>
  					<div class="fh5co-footer-widget">
  						<ul class="fh5co-social">
  							<li><a href="#"><i class="icon-facebook"></i></a></li>
  							<li><a href="#"><i class="icon-twitter"></i></a></li>
  							<li><a href="#"><i class="icon-instagram"></i></a></li>
  							<li><a href="#"><i class="icon-linkedin"></i></a></li>
  							<li><a href="#"><i class="icon-youtube"></i></a></li>
  						</ul>
  					</div>
  				</div>

  				<div class="col-md-2 col-sm-6">
  					<div class="fh5co-footer-widget top-level">
  						<h4 class="fh5co-footer-lead ">Company</h4>
  						<ul>
  							<li><a href="#">About</a></li>
  							<li><a href="#">Contact</a></li>
  							<li><a href="#">News</a></li>
  							<li><a href="#">Support</a></li>
  							<li><a href="#">Career</a></li>
  						</ul>
  					</div>
  				</div>

  				<div class="visible-sm-block clearfix"></div>

  				<div class="col-md-2 col-sm-6">
  					<div class="fh5co-footer-widget top-level">
  						<h4 class="fh5co-footer-lead">Features</h4>
  						<ul class="fh5co-list-check">
  							<li><a href="#">Lorem ipsum dolor.</a></li>
  							<li><a href="#">Ipsum mollitia dolore.</a></li>
  							<li><a href="#">Eius similique in.</a></li>
  							<li><a href="#">Aspernatur similique nesciunt.</a></li>
  							<li><a href="#">Laboriosam ad commodi.</a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-md-2 col-sm-6">
  					<div class="fh5co-footer-widget top-level">
  						<h4 class="fh5co-footer-lead ">Products</h4>
  						<ul class="fh5co-list-check">
  							<li><a href="#">Lorem ipsum dolor.</a></li>
  							<li><a href="#">Ipsum mollitia dolore.</a></li>
  							<li><a href="#">Eius similique in.</a></li>
  							<li><a href="#">Aspernatur similique nesciunt.</a></li>
  							<li><a href="#">Laboriosam ad commodi.</a></li>
  						</ul>
  					</div>
  				</div>
  			</div>

  			<div class="row fh5co-row-padded fh5co-copyright">
  				<div class="col-md-5">
  					<p><small>&copy; Booster Free HTML5 Template. All Rights Reserved. <br>Designed by: <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> | Images by: <a href="http://deathtothestockphoto.com/" target="_blank">DeathToTheStockPhoto</a> </small></p>
  				</div>
  			</div>
  		</div>

  	</footer>

</body>
</html>
